*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  width: 100%;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("../images/jungle.jpg");
  background-repeat: no-repeat;
  background-size: 250%;
  background-position: center;
  position: relative;
  overflow: hidden;
  transition: .2s all;

  display: flex;
  justify-content: center;
  align-items: center;

  .title{
    font-size: 4rem;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 24ch;
    text-align: center;
    position: relative;
    z-index: 2;
    text-shadow: 0 0 20px #1b1b1b;
  }
  #box {
    width: 20vw;
    height: 25vw;
    // aspect-ratio: 1;
    object-fit: none;
    position: absolute;
    z-index: 1;
    object-position: 0% 0%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    animation-timing-function: cubic-bezier(0.9, -0.41, 0.99, 2.11) !important;
  }
}
